body {
	margin: 0 auto;
	width: 100%;
}

.section-header {
	background-image: url("http://imageshack.com/a/img924/8296/Lhm6lk.png");
	padding-bottom: 518px;
	background-size: 100%;
  	background-repeat: no-repeat;


	.menu {
		text-align: center;
		ul {
			li {
				display: inline-block;
				padding-right: 50px;
				padding-top: 30px;
				a {
					color: #4d4959;
					font-family: 'Lato';
					font-size: 13px;
					font-weight: 900;
					letter-spacing: 2.6px;
					text-decoration: none;
				}
			}
		}
	}
}

.section-about {
	.top-about {
		padding-right: 20px;
		padding-left: 20px;
	}
	.top-oliva {
		text-align: center;
		padding-right: 20px;
		padding-left: 20px; 
		img {
			padding-top: 70px;
		}
		h3 {
			color: #353738;
			font-family: 'Lato';
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 3.6px;
			padding-top: 20px;
		}
		p {
			color: #848789;
			font-family: 'Lato';
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			padding-top: 15px;
			margin-bottom: 65px;
		}
	}
	.bottom-oliva {
		background-image: url('http://imageshack.com/a/img922/1796/x5UYQZ.png');
		padding-bottom: 180px;
	}
	.top-boriosa {
		text-align: center;
		padding-right: 20px;
		padding-left: 20px; 
		img {
			padding-top: 61px;
		}
		h3 {
			color: #353738;
			font-family: 'Lato';
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 3.6px;
			padding-top: 20px;
		}
		p {
			color: #848789;
			font-family: 'Lato';
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			padding-top: 15px;
			margin-bottom: 65px;
		}
	}
	.bottom-boriosa {
		background-image: url('http://imageshack.com/a/img923/7329/faUeWH.png');
		padding-bottom: 160px;
	}
	.vintage {
		background-image: url('http://imageshack.com/a/img924/1364/J3rNWV.png');
		text-align: center;
		padding-bottom: 240px;
		img {
			padding-top: 180px;
		}
	}
	.since {
		background-image: url('http://imageshack.com/a/img923/2379/pZWKsH.png');
		padding-bottom: 230px;
		text-align: center;
		img {
			padding-top: 280px;
		}
	}
	.top-retro {
		text-align: center;
		img {
			padding-top: 61px;
		}
		h3 {
			color: #353738;
			font-family: 'Lato';
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 3.6px;
			padding-top: 20px;
			text-transform: uppercase;
		}
		p {
			color: #848789;
			font-family: 'Lato';
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			padding-top: 15px;
			margin-bottom: 65px;
		}
	}
	.bottom-retro {
		background-image: url('http://imageshack.com/a/img923/340/SWGkMd.png');
		padding-bottom: 156px;
	}
	.right-retro {
		background-image: url('http://imageshack.com/a/img924/6598/4nIifH.png');
		padding-bottom: 557px;
	}
	.about-bicycle {
		background-image: url('http://imageshack.com/a/img923/6079/sKzOQ2.jpg');
		padding-bottom: 261px;
		text-align: center;
		img {
			padding-top: 220px;
		}	
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.top-about {
		background-color: #f7f7f7;
		text-align: center;
		margin: 0 auto;
		img {
			padding-top: 100px;
		}
		p {
			padding-bottom: 130px;
			padding-top: 25px;
			color: #848789;
			font-family: 'Lato';
			font-size: 18px;
			font-weight: 400;
			line-height: 34px;
			margin: 0;
		}
		h3 {
			padding-top: 25px;
			color: #353738;
			font-family: 'Lato';
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 3.6px;
		}
	}
}
.section-comments {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 150px;
	background-color: #f7f7f7;
	img {
		padding-bottom: 27px;
	}
	h4 {
		color: #353738;
		font-family: 'Lato';
		font-size: 18px;
		font-weight: 700;
		font-weight: 700;
		letter-spacing: 1.8px;
		span {
			color: #848789;
			font-weight: 300;
			letter-spacing: 1.8px;
		}
	}
	p {
		color: #848789;
		font-family: 'Lato';
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
		padding-top: 17px;
	}
}
.section-shop {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.left-side {
		background-image: url('http://imageshack.com/a/img923/442/UeS75t.png');
		padding-bottom: 270px;
	}
	.right-side {
		background-image: url('http://imageshack.com/a/img923/926/uP7Syb.png');
		padding-bottom: 270px;
	}
	.bottom-side {
		background-image: url('http://imageshack.com/a/img923/5352/Ws0PkR.png');
		padding-bottom: 210px;
	}
	.left-middle-side {
		background-image: url('http://imageshack.com/a/img923/3189/aElmlI.png');
		padding-bottom: 520px;
	}
	.right-middle-side {
		background-image: url('http://imageshack.com/a/img923/8186/zVYPpU.png');
		padding-bottom: 520px;
	}
	.up-side {
		background-image: url('http://imageshack.com/a/img923/5820/0LVIbu.png');
		padding-bottom: 270px;
	}
	.left-right-side {
		background-image: url('http://imageshack.com/a/img922/3862/FpMFCm.png');
		padding-bottom: 230px;
	}
	.right-right-side {
		background-image: url('http://imageshack.com/a/img922/868/Ae2G99.png');
		padding-bottom: 230px;
	}
	.discover-button {
		background-color: #282f35;
		padding-top: 75px;
		padding-bottom: 75px;
		text-align: center;
		button {
			color: #ffffff;
			font-family: 'Lato';
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 2.8px;
			border: 1px solid rgba(255, 255, 255, 0.5);
			background-color:  #282f35;
			padding: 21px 60px;
		}
	}
}
.section-contact {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	img {
		padding-bottom: 40px;
	}
	p {
		padding-bottom: 35px;
		color: #848789;
		font-family: 'Lato';
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
	}
	input {
		padding: 18px 160px 18px 28px;
	}
	button {
		margin-left: 5px;
		background-color: #64c29e;
		color: #ffffff;
		font-family: 'Lato';
		font-size: 24px;
		font-weight: 300;
		line-height: 24px;
		border: 1px solid #64c29e;
		padding: 13px 20px 20px 20px;
	}
}

.section-footer {
	text-align: center;
	background-color: #f7f7f7; 
	padding-top: 70px;
	padding-bottom: 70px;
	.yebo {
		p {
			display: inline-block;
		}		
	}
	.socials {
		img {
			padding-right: 15px;
		}
	}
	.address {
		margin-top: -25px;
	}
}

@media(min-width: 992px) and (max-width: 1199px) {
	.section-header {
		padding-bottom: 400px;
	}
	.section-about {
		.bottom-oliva {
			width: 50%;
			margin-left: 25%;	
		}
		.bottom-boriosa {
			width: 50%;
			margin-left: 25%;
			margin-bottom: 80px;
		}
		.since {
			width: 50%;
			margin-left: 25%;
			margin-top: 60px;
		}	
	}

} 

@media(min-width: 768px) and (max-width: 991px) {
	.section-header {
		padding-bottom: 300px;
	}
	.section-about {
		.since {
			width: 50%;
			margin-left: 25%;
			margin-top: 60px;
		}	
		.bottom-oliva {
			width: 55%;
			margin-left: 25%;	
		}
		.bottom-boriosa {
			width: 50%;
			margin-left: 25%;
			margin-bottom: 80px;
		}		
	}
	
} 

@media(max-width: 767px) {
	.section-header {
		padding-bottom: 150px;
		margin: 0;
		background-size: 500%;
		.menu {
			padding-top: 60px;
			ul {
				margin: 0;
				padding: 0;
				li {
					display: block;
					padding-right: 0;
				}
			}
		}
	}
	.section-about {
		.bottom-oliva {
			width: 50%;
			margin-left: 25%;	
		}
		.bottom-boriosa {
			width: 50%;
			margin-left: 25%;
			margin-bottom: 80px;
		}
		.since {
			img {
				width: 60%
			}
			width: 50%;
			margin-left: 25%;
			margin-top: 60px;
		}	
	}
}